
body{
  background-color:rgb(24, 24, 24);
  color:white;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: large;
  margin: 0px;
}

header{
  background-color: rgb(71, 68, 68);
  box-shadow: 10px 0px 10px black;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2{
  margin: 0px;
  padding: 0.3rem 1rem;
}

header button{
  font-size: large;
  margin-left: 5px;
}
.search{
  padding: 0.3rem 1rem;
  background-color: transparent;
  color: rgb(245, 241, 241);
  font-family: inherit;
  font-size: 1.2rem;
  border: 1.4px solid rgb(24, 24, 24);
  border-radius: 1rem;
}

.search:focus{
  outline: none;
}

.movie {
  width:300px;
  margin: 1rem;
  background-color: rgb(71, 68, 68);
  box-shadow: 3px 3px 10px rgba(0,0,0);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
  height:400px
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info{
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
  margin: 0px;  
}
.movie-overview{
  position:absolute;
  background-color: white;
  color: black;
  box-shadow: 0 -3px 10px rgba(0,0,0);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: -2px;
  left: 0px;
  right: 0px;
  overflow: auto;
  max-height: 100%;
  padding: 0.7rem;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.movie:hover .movie-overview{
  transform: translateY(0%);
}

.tag{
  background-color:rgb(24, 24, 24);
  padding: 0.2rem 0.5rem;
  border-radius: 5px ;
  font-weight: bold;
}
.orange{
  color:orange;
}
.green{
  color:rgb(24, 185, 24);
}
.red{
  color: red;
}